* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-Wrapper {
  width: 1024px;
  margin: 0 auto;
  height: auto;
  background-color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  margin-bottom: 40px;
  background-color: #f3e9f1;
}

.logo {
  border-radius: 0;
  margin-left: 20px;
  height: 150px;
  width: 250px;
}

nav, ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin-right: 20px;
  font-size: 1.3em;
  font-weight: bold;
}

nav li, ul li {
  margin-left: 40px;
}

nav a, ul a {
  text-decoration: none;
  color: #db6a8f;
}

a:hover {
  color: cornflowerblue;
}

#purchasePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3em;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.purchaseRecap {
  height: 50px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #db6a8f 1px solid;
}

.textName, .textColor, .priceNbtn {
  width: 33%;
  font-size: 1em;
}

.priceNbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btnDelete {
  width: 100px;
  margin-left: 50px;
  font-size: 1em;
  border: none;
  background-color: white;
  color: #db6a8f;
  font-weight: bold;
  cursor: pointer;
}

.totalAmountHtml, .totalPrice {
  width: 30%;
  font-size: 1.3em;
  font-weight: bold;
  color: #db6a8f;
  background-color: #e8f2ea;
  text-align: end;
  padding: 10px;
  height: auto;
  margin-left: 700px;
}

.totalAmountHtml {
  margin-top: 30px;
}

.totalPrice {
  margin-bottom: 50px;
}

#btnDeleteAll {
  height: 50px;
  width: 13%;
  font-size: 1em;
  font-weight: bold;
  margin: 20px 0px 0px 87%;
  border-radius: 10px;
  background-color: #ecd5e8;
  border: 1px solid #ecd5e8;
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
  color: #db6a8f;
  cursor: pointer;
}

#formulaireTitre {
  text-align: center;
  margin-bottom: 20px;
}

.formulaireContenu {
  width: 30%;
  height: auto;
  margin: 0 auto;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input {
  height: 30px;
  font-size: 1.3em;
}

#address {
  background-color: #e6d1ca;
}

#confirmForm {
  height: 50px;
  margin-bottom: 20px;
  font-size: 1.1em;
  border-radius: 10px;
  background-color: #ecd5e8;
  border: 1px solid #ecd5e8;
  font-size: 1.3em;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
  cursor: pointer;
  color: #db6a8f;
}

footer {
  height: 170px;
  background-color: #f3e9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1em;
}
/*# sourceMappingURL=panier.css.map */