
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-Wrapper{ 
    width: 1024px;
    margin: 0 auto;
    height: auto;
    background-color: white;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-bottom: 40px;
    background-color: rgb(243, 233, 241);
}
.logo{
    border-radius: 0;
    margin-left: 20px;
    height: 150px;
    width: 250px;
}
nav, ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
    font-size: 1.3em;
    font-weight: bold;
     li{
         margin-left: 40px;
     }
      a{
          text-decoration: none;
          color: #db6a8f;
      }
}
a:hover{
    color:cornflowerblue;
}

#purchasePage{
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    width: 100%;
    justify-content: center;
}

.purchaseRecap{
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:#db6a8f 1px solid;
}
.textName, .textColor, .priceNbtn{
    width: 33%;
    font-size: 1em;
}
.priceNbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btnDelete{
    width: 100px;
    margin-left: 50px;
    font-size: 1em;
    border: none;
    background-color: white;
    color: #db6a8f;
    font-weight: bold;
    cursor: pointer;
}
.totalAmountHtml, .totalPrice{
    
    width: 30%;
    font-size: 1.3em;
    font-weight: bold;
    color: #db6a8f;
    background-color: #e8f2ea;
    text-align: end;
    padding: 10px;
    height: auto;
    margin-left: 700px;
}
.totalAmountHtml{
    margin-top: 30px;
}
.totalPrice{
    margin-bottom: 50px;
}

#btnDeleteAll{
    height: 50px;
    width: 13%;
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0px 0px 87%;
    border-radius: 10px;
    background-color: #ecd5e8;
    border: 1px solid rgb(236, 213, 232);
    box-shadow: 1px 1px 1px gray;
    color: #db6a8f;
    cursor: pointer;

}

#formulaireTitre{
    text-align: center;
    margin-bottom: 20px;
}
.formulaireContenu{
    width: 30%;
    height: auto;
    margin: 0 auto;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    height: 30px;
    font-size: 1.3em;
}
#address{
    background-color: rgb(230, 209, 202);
}
#confirmForm{
    height: 50px;
    margin-bottom: 20px;
    font-size: 1.1em;
    border-radius: 10px;
    background-color: rgb(236, 213, 232);
    border: 1px solid rgb(236, 213, 232);
    font-size: 1.3em;
    font-weight: bold;
    box-shadow: 1px 1px 1px gray;
    cursor: pointer;
    color: #db6a8f;
}
footer{
    height: 170px;
    background-color: rgb(243, 233, 241);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
    
}
