* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-Wrapper {
  width: 1440px;
  margin: 0 auto;
  height: auto;
  background-color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
  margin-bottom: 50px;
  background-color: #f3e9f1;
}

.logo {
  border-radius: 0;
  margin-left: 20px;
  height: 100px;
  width: 160px;
}

nav, ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

nav li, ul li {
  margin-left: 40px;
}

nav a, ul a {
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
}

#productPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

img {
  width: 900px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 20px;
}

form {
  margin-bottom: 40px;
  font-size: 1.2em;
}

.colorLabel {
  font-size: 1.1em;
  font-weight: bold;
}

#colorList {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
}

#purchaseBtn {
  height: 60px;
  width: 80%;
  border-radius: 20px;
  background-color: #ecd5e8;
  border: 1px solid #ecd5e8;
  margin-bottom: 60px;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
  cursor: pointer;
}

#productRef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productName {
  margin-bottom: 15px;
  font-size: 1.2em;
  margin-bottom: 40px;
}

.productPrice {
  margin-bottom: 15px;
  font-size: 1.2em;
  margin-bottom: 40px;
}

.productDescript {
  margin-bottom: 15px;
  margin-top: 30px;
  font-size: 1.1em;
  width: 80%;
}

footer {
  height: 170px;
  background-color: #f3e9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}
/*# sourceMappingURL=produit.css.map */