
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main-Wrapper{ 
    width: 1024px;
    margin: 0 auto;
    height: auto;
    background-color: white;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-bottom: 30px;
    background-color: rgb(243, 233, 241);
}
.logo{
    border-radius: 0;
    margin-left: 20px;
    height: 100px;
    width: 250px;
}
nav, ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
    font-size: 1.3em;
    font-weight: bold;
     li{
         margin-left: 40px;
         padding: 5px;
     }
      a{
          text-decoration: none;
          color: #db6a8f;
      }
}
a:hover{
    color:cornflowerblue;
}
#productPage{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}
img{
    width: 60%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 20px;
}
form{
    margin-bottom: 40px;
    font-size: 1.3em;
}
.colorLabel{
    font-size: 1.5em;
    font-weight: bold;
    
}
#colorList{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    cursor: pointer;
}

#purchaseBtn{
    height: 60px;
    width: 90%;
    border-radius: 20px;
    background-color: rgb(236, 213, 232);
    border: 1px solid rgb(236, 213, 232);
    margin-bottom: 60px;
    font-size: 1.3em;
    font-weight: bold;
    box-shadow: 1px 1px 1px gray;
    cursor: pointer;
    color: #db6a8f;
}
#productRef{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;

}
.productName{
    margin-bottom: 15px;
    font-size: 1.5em;
    margin-bottom: 40px;
    font-weight: bold;
    
}
.productPrice{
    margin-bottom: 15px;
    font-size: 1.5em;
    margin-bottom: 40px;
    font-weight: bold;
    
}
.productDescript{
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 1.1em;
    width: 90%;
    
}
footer{
    height: 170px;
    background-color: rgb(243, 233, 241);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}

